/*------------------ Fonts and Text Sizes / Colours ------------------ */

.branding {
    text-align: center;

}
h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 4em;
    color: #403684;
}

body {
    background-color: #17E9E0;
    /* color: #F5E6CC; */
    color: white;
}

.gamevalues {
    font-size: .8em;
}

/*------------------ Animations ------------------ */


/* Pulse code from http://www.tipue.com/blog/css-pulse-buttons/*/

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

/* --------------- Button colours ---------------*/


.red {
    color: #FF5733;
}

.darkred {
    color: #C70039;
}

.orange {
    color: #FFC300;
}

.green {
    color: #058E3E;
}


.counter {
    display: inline-block;
    width: 35px;
    height: 35px;
    /* background-color: yellow; */
    border-radius: 50%;
    /* border-color: black; */
    /* border: solid; */
    /* border-width: 5px; */
    padding: 1px;
    background-image: linear-gradient(to top, #A64AC9 0%, #403684 100%);
}

.startarrow {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); */
    background-color: #A64AC9;
    margin: 0 auto;
    animation: shadow-pulse 1s infinite;
    cursor: pointer;
}

/* Original code for shape from https://css-tricks.com/the-shapes-of-css/ */
#triangle-right {
    width: 0;
    height: 0;
    border-left: 75px solid #17E9E0;
    border-top: 37px solid transparent;
    border-bottom: 37px solid transparent;
    /* margin-top: x; */
    margin: 0 auto;
    margin-top: -25px;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.smallcirclebutton {
position: relative;
    height: 80px;
    min-height: 80px;
    min-width: 80px;
    border-radius: 50%;
    /* background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); */
    margin: 0px 5px;
    background-color:#403684;
    color: #FCCD04;
    font-size: 1.2em;
    cursor: pointer;
    /* cursor: pointer; */
    /* margin: 0; */
}

.smallcirclebutton:active {
    /* background-color: #3e8e41; */
    box-shadow: 0 5px #FCCD04;
    transform: translateY(4px);
  }
  
  #startmusicbutton:active, .clickcounterbutton:active, .passplaybutton:active {
      /* background-color: #3e8e41; */
      box-shadow: 0 5px #A64AC9;
      transform: translateY(4px);
    }
  
  .secondbutton {
      /* margin: 0 auto; */
      margin-top: 5px;
      /* margin-left: 10px; */
  }
  
  
  #startmusicbutton {
      /* position: fixed; */
      /* margin-top: 5px; */
      /* padding: 15px; */
      /* text-align: center; */
      background-color: #FCCD04;
      
  }
  
  .firstbutton {
      /* position: fixed; */
      margin-top: 5px;
      padding: 15px;
      text-align: center;
      color: #A64AC9;
  }
  
  #helpbutton {
      background-color: #A64AC9;
      color: #FCCD04;
  }


  .buttonicon {
    width: 50px;
    height: 50px;
    display:inline-block;
    text-align:center;
    padding-top: 10px;
    font-size: 2em;
}

.gameplaybutton {
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 3em;
    height: 80px;
    min-height: 80px;
    min-width: 80px;
    color: #A64AC9;
    border-radius: 50%;
    background-color: #FCCD04;
    cursor: pointer;
}

.startgamebutton {
    /* display: inline-block;
    width: 200px;
    height: 40px;
    background-color: orange;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 1px; */

}

/* --------------- Containers ---------------*/

.gameplayarea {

    margin-top: 20px;
    height: 550px; 
    background-color: white;
border-radius: 20px;
}

.infobox {
    position: absolute;
    z-index: 2;
    /* background-color: rgba(0, 158, 253, 30); */
    background-color: #17E9E0;
    color: #403684;
    width: 95%;
    height: 50%;
    padding: 20px;
    border-radius:25px;
    text-align: center;
    font-size: 1.2em;
}

.helpbox {
height: 70%;
}

.playerturnbox {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.reportsarea {
    display: block;
    /* margin: 30px 30px; */
    margin-top: 30px;
    padding: 4px;
    border-radius: 25px;
    height: 100px;
    width: 100%;
    /* background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); */
    background-color: #A64AC9;
}

.countersOnScreen {
    /* border: solid;
    border-width: 1px;
    border-color: black; */
    /* height: 200px; */
    min-height: 130px;
}

.scoreboard {
    margin-top: 0px;
}

.score {
    font-size: 2em;
}

.scoreboard {
    font-size: 1.3em;
}

/* Override if needed with the hidden property - this class is toggled by button clicks */

.hidden {
    display:none;
}
/* --------------------------------- Media Queries */

@media only screen and (min-width: 768px) {

    .gameplayarea {

        height: 600px; 
    
    }

    .gamevalues {
        font-size: 1.2em;
    }

.counter {
        width: 60px;
        height: 60px;
}

.countersOnScreen {
    min-height: 200px;
}

.startarrow {
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}


  #triangle-right {
    width: 0;
    height: 0;
    border-left: 150px solid #17E9E0;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    /* margin-top: x; */
    margin: 0 auto;
  }



}

@media only screen and (min-width: 992px) {

    .gameplayarea {

        height: 700px; 
    
    }

.counter {
        width: 70px;
        min-height: 70px;
}

h1 {
    
    font-size: 6em;
}

.countersOnScreen {
    min-height: 240px;
}



}