


.counter {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: yellow;
    border-radius: 50%;
    border-color: black;
    border: solid;
    border-width: 5px;
}

#hardmodebutton {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 1px;

}

#easymodebutton {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 1px;

}

#mediummodebutton {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 1px;

}

#impossiblemodebutton {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 1px;

}

#humanmodebutton {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 1px;

}

.clickcounterbutton {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: orange;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 1px;

}

#startgamebutton {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: orange;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 1px;

}

.passplaybutton {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: orange;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 1px;

}

.hidden {
    display:none;
}
